 <template name="projects"> 
 
 <!-- modal for adding new level started here -->
 <div class="modal hide fade" id="modal_addLevel">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Add Level</h4>
	      </div>
	      <div class="modal-body">
			<form class="main" id="frm_addLevel">

			    <div class="control-group">
				<label class="control-label" for="title">Level Title</label>
				<div class="controls">
				    <input name="name" type="text" value="" placeholder="Name your level"/>
				</div>
			    </div>

			    <div class="control-group">
				<label class="control-label" for="width">Width</label>
				<div class="controls">
				    <input name="width" type="number" value="800" />
				</div>
			    </div> 
			    
			    <div class="control-group">
				<label class="control-label" for="height">Height</label>
				<div class="controls">
				    <input name="height" type="number" value="480" />
				</div>
			    </div> 
			    <div class="control-group">
				<div class="controls">
				    <input type="submit" value="Submit" class="btn btn-primary"/>
				</div>
			    </div>
			</form>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
<!-- modal for new level goes here -->

<!-- modal for adding new level started here -->
 <div class="modal hide fade" id="modal_addLevel">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Add Entity</h4>
	      </div>
	      <div class="modal-body">
			<form class="main" id="frm_addLevel">

			    <div class="control-group">
				<label class="control-label" for="title">Entity Title</label>
				<div class="controls">
				    <input name="name" type="text" value="" placeholder="Name your level"/>
				</div>
			    </div>

			    <div class="control-group">
				<label class="control-label" for="width">Width</label>
				<div class="controls">
				    <input name="width" type="number" value="800" />
				</div>
			    </div> 
			    
			    <div class="control-group">
				<label class="control-label" for="height">Height</label>
				<div class="controls">
				    <input name="height" type="number" value="480" />
				</div>
			    </div> 
			    <div class="control-group">
				<div class="controls">
				    <input type="submit" value="Submit" class="btn btn-primary"/>
				</div>
			    </div>
			</form>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
<!-- modal for new level goes here -->

	
    <div id='content' class='row-fluid canvas-top'>
  	<div class='span2 sidebar'>
	
	<div class="tree well" id="projectExplorer">
	{{#each getAllProjects}}
		
			<li>
			    <span data-id="{{ _id }}"><i class="icon-folder-close"></i> {{ name }}</span>
			   
			   <ul>
			   {{#each levels}}
			   	<li>
					<span data-id="{{ _id }}"><i class="icon-minus-sign"></i> {{ name }}</span> 
				 </li>
			    {{/each}}
			   </ul>	
			   <!--
			    <ul>
				<li style="display:none">
					<span><i class="icon-minus-sign"></i> Child</span> 
				 </li>
				<li style="display:none">
					<span><i class="icon-minus-sign"></i> Child</span> 
				    
				</li>
			    </ul>
			    -->
			    
			</li>
		
	{{/each}} 
	
		
	</div>
	<div class="contextMenu" id="customMenu_projectExplorer" style="display:none">
	      <ul>
			<li id="addLevel">Add Level</li>
	      </ul>
	</div>
	
	
	<div id="toolbar" class="panel toolbar-panel" >
		<h4>Toolbox</h4>
		
		<h5>Entities</h5>
		
		{{#each getCommonEntityTypes}}
			<div class="component" id = "{{_id}}" draggable="true" >{{name}}</div>
		{{/each}}
		
		<div align="center">
			<a href="#" class="btn btn-success">New</a>
		</div>
		
		<h5>Guide</h5>
		<div class="component" id = "GUIDE_X" draggable="true" >guide-x</div>
		<div class="component" id = "GUIDE_Y" draggable="true" >guide-y</div>
		
    	</div> 

    	
    	
    	
  	</div>
   <div style="height:100%;" class='span8 main canvas'>
   
     	<div style="width:100%;height:100%,float:left">
     	
   		<div style="width:20%;height:100%,float:right"></div>
   		
  			<div style="width:100%;height:100%,float:left;display:none"  id="canvas_content">
  				<ul id="myTab" class="nav nav-tabs">
				  <li class="active"><a href="#Design" data-toggle="tab">Design</a></li>
				  <li class=""><a href="#code" data-toggle="tab" id="btn_tabCode">Code</a></li>
				  <li class=""><a href="#Preview"  data-toggle="tab">Preview</a></li>
				</ul>
 
<div  id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="Design">
	
	<div id="stage" class="stage"  ondrop="drop(event)" ondragover="allowDrop(event)"></div>
	
	
	<div class="contextMenu" id="myMenu1">
	      <ul>
			<li id="delete">Delete</li>
	      </ul>
	</div>
	
	
  </div>
  <div class="tab-pane fade" id="code">
	
	<textarea id="codeIDE" name="codeIDE">
	
	</textarea>
	
	
	
	
  </div>
  <div class="tab-pane fade" id="Preview">
	</div>
	</div></div></div>
  </div>
 	 
 	 <div class='span2 sidebar'>
 	 	<div id="panel" class="panel properties-panel">
			<h4>Properties</h4>	
			 
			 <div class="well" align="middle">
			 	<button id="infoButton" class="btn btn-primary">Save</button>
			 	<a href="#" id="btn_downloadXml" class="btn btn-primary">Get XML</a>
			 	
			 	<input id= "checkBoxShowGuideLines" checked="checked" type="checkbox" style="margin: 10px 10px 10px 30px; padding: 10px;"> Show Guide Lines
		 	 </div>
		 <!--
		 <button id="xmlBtn" style="margin: 10px 10px 10px 30px; padding: 10px;">Get XML</button>
		 -->
		 
		 
		 
		 
			 
	    	</div>
 	 </div>
 	 
   </div>   

</template>
