<template name="postSubmit">
  <form class="main create-projects">

    <div class="control-group">
        <label class="control-label" for="title">Project Title</label>
        <div class="controls">
            <input name="title" type="text" value="" placeholder="Name your post"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="message">Project Description</label>
        <div class="controls">
            <textarea name="message" type="text" value=""></textarea>
        </div>
    </div> 

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Create" class="btn btn-primary"/>
        </div>
    </div>
  </form>
  

  
  
</template>
